*{
    padding: 0 auto;
    margin: 0 auto;
}

#fondo{
    background-color: rgb(194, 104, 104);
    border: 3px solid;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    margin-top: 3%;
}

.texto{
    color: aliceblue;
    font-size: 25px;
}